<!-- Navbar Title  -->

<div class="fluid-container navbar-title" style="display: flex;">

    <!-- Side Navbar Button  -->

    <!-- Site Title  -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="openNav()">
        <span style="font-size:30px;cursor:pointer">&#9776;</span> </button>

    <a class="navbar-brand" href="/">
        <img class="navbar-logo" src="../images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        AVR Solutions
    </a>





    <div style=" position: absolute;
        right: 10px;
        top: 8px; display: flex;
    flex-flow: row;
    position: absolute;">

    <% if (login) { %>
        <div class="dropdown">
            <a class="navbar-login dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 1rem; text-decoration: none; color: #000;" ><i
                    class="fa fa-sign-in-alt" style="margin-right: 5px;"></i>Profile</a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/user/profile">Profile</a>
                        <a class="dropdown-item" href="/user/logout">Logout</a>
                      </div>
            <!-- <a class="btn" style="margin-right: 0.5rem;" href="/register"><i class="fa fa-user-plus" style="margin-right: 5px;" ></i>Register</a> -->
        </div>
    <% }else{ %>
        <div>
            <a class="navbar-login" style="margin-right: 1rem; text-decoration: none; color: #000;" href="/login"><i
                    class="fa fa-sign-in-alt" style="margin-right: 5px;"></i>Login</a>
            <!-- <a class="btn" style="margin-right: 0.5rem;" href="/register"><i class="fa fa-user-plus" style="margin-right: 5px;" ></i>Register</a> -->
        </div>       
        <% } %>

<!-- 
        <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" >
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div> -->
        <div>
            <a class="navbar-cart" href="/cart" style="text-decoration: none; color: #000;"><i
                    class="fa fa-shopping-cart" style="font-size:26px"></i></a>
        </div>
    </div>


</div>

<!-- sideBar menu  -->

<div id="mySidenav" class="sidenav" style="float: right;">
    <div class="sidenav-content">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Item 1</a>
        <a href="#">Item 2</a>
        <a href="#">Item 3</a>
        <a href="#">Item 4</a>
    </div>
</div>


<!-- Sub Navbar  -->

<div class="fluid-container sub-navbar">

    <!-- Sub Navbar links  -->

    <ul class="navbar-ul">

        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/about">About us</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/product">Products</a>
        </li>

        <!-- Categories Dropdown -->

        <div class="dropdown">
            <button class="btn btn-navbar dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Categories
            </button>

            <!-- Sub Categories Menu List-->
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Sub Categories</a>
            </div>

        </div>

        <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact us</a>
        </li>

    </ul>

</div>
