<%- include("partials/headers/header"); %> 
<%- include("partials/navbar"); %> 

<div class="container about-us">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere ac ut consequat semper. Nisl purus in mollis nunc sed. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Amet risus nullam eget felis eget nunc lobortis.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere ac ut consequat semper. Nisl purus in mollis nunc sed. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Amet risus nullam eget felis eget nunc lobortis.</p>
    <h1 style="margin-top: 5%;">Our Vision</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere ac ut consequat semper. Nisl purus in mollis nunc sed. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Amet risus nullam eget felis eget nunc lobortis.</p>
    <p>For More Information, Any related query or Complaint issue contact us we would love to resolve it we promise ❤.
    </p>
    <p>Email :- support@avrsolution.co</p>
    <br>
    <a href="/contact" class="btn btn-outline-dark">Contact Us</a>
</div>
<%- include("partials/footer"); %> 