<%- include('partials/headers/header') %>

<%- include("partials/navbar") %>

<div class="fluid-container" style="text-align: center; margin-top: 1.5rem; margin-bottom: 1.5rem;">
    <h1>Blog's</h1>
</div>

<div class="container">


    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card h-100">
                <img src="images/product.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Blog title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <button type="button" class="btn btn-warning btn-block">Read More</button> </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="images/product.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Blog title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <button type="button" class="btn btn-warning btn-block">Read More</button> </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="images/product.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Blog title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <button type="button" class="btn btn-warning btn-block">Read More</button> </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="images/product.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Blog title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <button type="button" class="btn btn-warning btn-block">Read More</button> </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="images/product.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Blog title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <button type="button" class="btn btn-warning btn-block">Read More</button> </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100">
                <img src="images/product.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Blog title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <button type="button" class="btn btn-warning btn-block">Read More</button> </div>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer") %>