<%- include('partials/headers/login-header') %>

<body class="text-center">

<!-- Sign In Form  -->

<form action="/login" class="form-signin" method="POST">

    <!-- logo  -->
    <img class="mb-4" src="images/logo.png" alt="" width="72" height="72">
    
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>

    <!-- Email Address  -->
    <label for="email" class="sr-only">Email address</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required autofocus>
    
    <!-- Password -->
    <label for="password" class="sr-only">Password</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
    
    <!-- Sign In Button -->
    <button class="btn btn-lg btn-light btn-block" type="submit">Sign in</button>

    <!-- Register Button  -->
    <a href="/register" class="btn btn-lg btn-dark btn-block">Register</a>

    <!-- Forgot Password -->
    <p class="mt-5 mb-3 text-muted"><a class="forgot-pswd" href="/forgot">Forgot Password</a></p>


</form>

<%- include('partials/footer') %>