<%- include("partials/headers/header"); %>
<%- include("partials/navbar"); %>

<div class="container" style="margin-top: 2rem ;">
    <div class="row">

        <div class="col col-12 col-md-12 col-lg-6" style="margin-bottom: 1.5rem; align-self: center;">
            <div id="productImgCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#productImgCarousel" data-slide-to="0" class="active"></li>
                    <% var numOfImg = (5 -1) %>
                    <% for( let index = 0; index < numOfImg; index++ ) { %>
                    <li data-target="#productImgCarousel" data-slide-to=<%= index %>></li>
                    <% } %>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="images/product.png" class="d-block w-100 rounded" alt="slide">
                    </div>
                    <% for( let index = 0; index < numOfImg; index++ ) { %>
                    <div class="carousel-item">
                        <img src="images/product.png" class="d-block w-100" alt="slide">
                    </div>
                    <% } %>
                </div>
                <a class="carousel-control-prev" href="#productImgCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#productImgCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="col col-12 col-md-12 col-lg-6">

            <h3><b>Product Title</b></h3>
            <h5>brand</h5>
            <h4>M.R.P ₹ 115</h4>
            <p>Inclusive all taxes</p>
            <h5 class="btn btn-sm btn-success stock-btn">In Stock</h5>
            <p>Shipping Details and charges Rs. 0</p>

            <div style="display: block; margin-bottom: 1rem;">
                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-secondary">+</button>
                    <button type="button" class="btn btn-secondary">1</button>
                    <button type="button" class="btn btn-secondary">-</button>
                </div>
            </div>

            <button href="/add-to-cart/" class="btn btn-dark">Add to Cart</button>
            <button class="btn btn-warning">Buy Now</button>

            <div class="fluid-container" style="margin-top: 1rem;">
                <% var numOfOffer = 5 %>
                <% for( let index = 0; index < 3; index++ ) { %>
                <div class="shadow-sm p-3 mb-2 bg-white rounded lim-offer">
                    Offers Details
                </div>
                <% } %>

                <% for( let index = 0; index < numOfOffer; index++ ) { %>
                <div class="shadow-sm p-3 mb-2 bg-white rounded all-offer ">
                    Offers Details
                </div>
                <% } %>
                <div class="fluid-container" style="text-align: center; margin-bottom: 1.5rem; margin-top: 1.5rem;">
                    <a id="offer-btn">See All</a>
                </div>
                <div class="sharethis-inline-share-buttons"></div>
            </div>

        </div>

    </div>
    <div class="fluid-container" style="margin-top: 2.5rem; margin-bottom: 1.5rem;">
        <h4><b>Description</b></h4>

        <p style="margin-top: 1.5rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore
            magna aliqua. Ante metus dictum at tempor. Cras ornare arcu dui vivamus arcu felis bibendum ut tristique.
            Curabitur gravida arcu ac tortor. Ultrices sagittis orci a scelerisque purus semper eget duis at. Sed risus
            pretium quam vulputate dignissim. Tincidunt tortor aliquam nulla facilisi cras fermentum odio. Fermentum et
            sollicitudin ac orci phasellus. Euismod in pellentesque massa placerat duis ultricies lacus sed. Urna
            condimentum mattis pellentesque id nibh tortor id aliquet.

            Ultricies integer quis auctor elit sed. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque
            mauris. Malesuada fames ac turpis egestas sed. Aliquet nec ullamcorper sit amet risus. Et odio pellentesque
            diam volutpat commodo sed. Consectetur purus ut faucibus pulvinar elementum integer enim neque. Varius duis
            at consectetur lorem donec. Aliquam purus sit amet luctus venenatis. Elit ut aliquam purus sit amet luctus
            venenatis. Vitae purus faucibus ornare suspendisse sed nisi lacus sed viverra. Arcu bibendum at varius vel
            pharetra vel turpis nunc. In arcu cursus euismod quis viverra nibh cras pulvinar. Id interdum velit laoreet
            id donec ultrices.</p>
    </div>
    <hr>
    <div class="fluid-container" style="margin-bottom: 1.5rem;">

        <h4><b>Features & Details</b></h4>
        <ul style="margin-top: 1.5rem;">
            <li style="line-height: 2rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et
                dolore magna aliqua.</li>
            <li style="line-height: 2rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et
                dolore magna aliqua.</li>
            <li style="line-height: 2rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et
                dolore magna aliqua.</li>
            <li style="line-height: 2rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et
                dolore magna aliqua.</li>
            <li style="line-height: 2rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et
                dolore magna aliqua.</li>
        </ul>

    </div>
    <hr>

<hr>

<div class="fluid-container" style="margin-bottom: 1.5rem;">

    <h4><b>Product Information</b></h4>

    <table class="table table-bordered">
        <tr>
          <th>Brand</th>
          <td>Lorem ipsum</td>
        </tr>
        <tr>
          <th>Manufacturer</th>
          <td>555 77 854</td>
        </tr>
        <tr>
          <th>Country of Origin</th>
          <td>555 77 855</td>
        </tr>
        <tr>
            <th>Sold By</th>
            <td>555 77 855</td>
          </tr>     
      </table>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

<script>
    $('#offer-btn').onclick(function () {
        $('lim-offer').css('display', 'none');
        $('all-offer').css('display', 'block');
    })
</script>
<%- include("partials/footer"); %>