.btn-navbar:focus {
    outline: none;
    box-shadow: none;
    background-color: #FEE715FF;
    color: #000;
    border-radius: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.btn-navbar {
    color: #FEE715FF;
}

.btn-navbar:hover {
    color: #fff;
}

.navbar-ul {
    display: flex;
    align-items: stretch;
    /* Default */
    justify-content: space-between;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 0 1rem;
    list-style: none;
}

.navbar-title {
    height: 40px;
    background: #FEE715FF;
    text-align: center;
}

.navbar-brand {
    color: black;
}

.nav-link {
    color: #FEE715FF;
}

.sub-navbar {
    display: flex;
    flex-flow: row;
}

.nav-link:hover {
    color: #fff;
}

.navbar-toggler {
    display: none;
}

.navbar-brand {
    margin-left: 1rem;
}

@media only screen and (max-width: 600px) {
    .sub-navbar {
        display: none;
    }

    .navbar-toggler {
        display: inline-block;
    }

    .navbar-brand {
        margin-left: 0;
    }

    .home-top-deal {
        font-size: 1rem;
    }

    .view-btn {
        display: none;
    }

    .navbar-logo{
      display: none;
    }

}

@media only screen and (max-width: 320px){
  .navbar-login{
    display: none;
  }
}

@media only screen and (max-width: 240px){
  .navbar-cart{
    display: none;
  }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: rgb(14, 13, 11);
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #FEE715FF;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
}

.sidenav-content {
    padding-top: 2.5rem;
}


.scrollmenu {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

div.scrollmenu a:hover {
    opacity: 0.8;
}

.about-us {
    padding: 10%;
    margin-top: 2rem;
    border-radius: 10px;
}

.stock-btn:hover{
    color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.all-offer{
    display: none;
}

.lim-offer{
    display: block;
}
